input[type=text], input[type=password], input[type=date], input[type=email], textarea, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
	border-radius:15px;
    background: #f1f1f1;
}
input[type=file]{
	width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
	border-radius:15px;
    background: #f1f1f1;
}
input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
	border-radius:10px;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus,input[type=date]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

label{
	font-family:Times New Roman;
	font-style:Italic;
	
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 1;
	border-radius:15px;
	outline:none;
}

button:hover {
    opacity:1;
}